<div class="sticky-top">
    <nav id="navbar-example2" class="navbar pages navbar-expand-sm navbar-light bg-dark">
        <a class="navbar-brand" routerLink="home">
            <img class="home" src="assets/img/homew.png">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#fat">Cocina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#one">Baños</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mdo">Servicios</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container-fluid" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div class="paralax1">
        <div class="container-sm text-center">
            <span class="intodetail rounded-lg">
                <span class="invisible" id="fat">Cocinas</span>
            <p class="text-center text-justify">Tenemos preparado para ti un selección de materiales.<br>¡Aquí una muestra!</p>
            <button type="button" class="btn btn-lg btn-outline-dark bg-transparent text-white"><h2>Cocinas</h2></button>
            </span>
            <a class="nav-link" routerLink="home">
                <img class="homeheader align-self-end" src="assets/img/vistalegre.ico" alt="LogoVistalegre">
            </a>
        </div>
    </div>

    <div class="subcontent container-sm">
        <h4 id="mdo">Servicios</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis augue id aliquam pulvinar. Curabitur feugiat augue ac enim hendrerit, ornare fermentum purus efficitur. Duis non justo ut magna finibus ornare sit amet non urna. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vitae neque finibus, commodo ligula malesuada, viverra elit. Integer lacus lorem, condimentum iaculis porta nec, faucibus quis eros. Nam sollicitudin
            diam neque, id pellentesque orci lobortis id. Etiam in urna sed mauris ultrices facilisis eget eu lectus. Vivamus nec varius elit. Maecenas enim mauris, malesuada nec orci id, iaculis facilisis libero. Nullam vitae arcu at arcu facilisis suscipit
            eu non ante. Morbi eu ultricies dolor.</p>
    </div>

    <div class="paralax2">
        <div class="container-sm text-center">
            <span class="intodetail rounded-lg">
                <span class="invisible" id="one">Baños</span>
            <p class="text-center text-justify">Tú baño debe reflejar paz e higiene.<br> Aquí una pequeña muestra de los que te espera en tienda.</p>
            <button type="button" class="align-items-center btn btn-lg btn-outline-dark bg-transparent text-white"><h2>Baños</h2></button>
            </span>
            <a class="nav-link" href="">
                <img class="homeheader img-fluid align-self-end" src="assets/img/vistalegre.ico" alt="LogoVistalegre">
            </a>
        </div>
    </div>

</div>