<div class="sticky-top">
    <nav id="navbar-example2" class="navbar pages navbar-expand-sm navbar-light bg-dark">
        <a class="navbar-brand" href="">
            <img class="home" src="assets/img/homew.png">
        </a>
        <span class="text-white">
            Sobre nosotros
        </span>

    </nav>
</div>
<div class="contenido">
    <div class="animate__animated animate__fadeIn location container-fluid">
        <p>
            Nos precede: <strong>familia, trabajo y constancia</strong> , somos fruto de la ilusión de servir y de querer estar más cerca de ti. El 2020 no dejará indiferente a nadie y bajo la tensión de tan difíciles momentos queremos aportar de alguna
            manera
            <strong>esperanza</strong> en el futuro. Por ello nos instalamos en Pontevedra, para traerte <strong>diseño de bienestar</strong>, ese diseño que trasciende el aspecto físico y que va a tus sentidos. Contamos con la experiencia y el talento
            humano para poder generar el confort que te mereces.
        </p>
    </div>
</div>