<header data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" routerLink="home">
            <div class="logo">
                <img class="milogo" src="assets/img/LogoVistalegre.png">
                <div class="namelogo">
                    <h1 class="VISTALEGRE_">{{ infoService.info.marca }}</h1>
                    <h2 class="INNOVACIÓN_Y_DISEÑO">{{ infoService.info.slogan}}</h2>
                </div>
            </div>
        </a>
    </nav>
</header>