<footer class="fixed-bottom">
    <div class="row navbar-light bg-dark m-0 justify-content-center">
        <div class="info d-inline-flex">
            <a routerLink="about" class="nav-link">Sobre nosotros</a>
            <a routerLink="location" class="nav-link">Encuéntranos</a>
        </div>
    </div>

    <div class="blockquote-footer text-center">
        <div class="row rrss justify-content-between m-0">
            <p>¡Aquí logos de RRSS!</p>
            <a href="">Área reservada</a>
        </div>
        <p> © Antonio Presas Martínez 2020</p>
    </div>
</footer>